/*------------------------------------*\
    $FONT kelson
\*------------------------------------*/
@font-face {
    font-family: 'kelson';
    src: url('../fonts/kelson_rg.woff') format('woff');
    src: url('../fonts/kelson_rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





/*------------------------------------*\
    $FONT kelson bold
\*------------------------------------*/
@font-face {
    font-family: 'kelson-bold';
    src: url('../fonts/kelson_bd.woff') format('woff');
    src: url('../fonts/kelson_bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





/*------------------------------------*\
    $FONT merriweather
\*------------------------------------*/
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-regular.woff') format('woff');
    src: url('../fonts/merriweather-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





/*------------------------------------*\
    $FONT merriweather bold
\*------------------------------------*/
@font-face {
    font-family: 'merriweather-bold';
    src: url('../fonts/merriweather-bold.woff') format('woff');
    src: url('../fonts/merriweather-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
